extends layout

block content
	body.ranking-page
		.header-wrapper
			.header
			.user-header
				h2 
					table
						tr
							td Hi
							td 
								p#codename.pcn=user.codename
							td 
				a.signout(href="/logout")
		.ranking-container
			.ranking-selection-box
				.ranking-selection-list
					.ranking-left
						- var i =0, j =0;
						each member in members
							- i++
							- if(i <= 8){
								.img-photo
									img.chat_photo(id=member.codename, src=member.photourl)
								p=member.codename
								#r1.rate_widget
									.ratings_chick(class=member.codename + '_1')
									.ratings_chick(class=member.codename + '_2')
									.ratings_chick(class=member.codename + '_3')
									.ratings_chick(class=member.codename + '_4')
									.ratings_chick(class=member.codename + '_5')
							- }
					.ranking-right
						each member in members
							- j++
							- if(j > 8){
								.img-photo
									img.chat_photo(id=member.codename, src=member.photourl)
								p=member.codename
								#r1.rate_widget
									.ratings_chick(class=member.codename + '_1')
									.ratings_chick(class=member.codename + '_2')
									.ratings_chick(class=member.codename + '_3')
									.ratings_chick(class=member.codename + '_4')
									.ratings_chick(class=member.codename + '_5')
							- }
		include footer
		script
			$('.ratings_chick').hover(
					function() {  
						$(this).prevAll().andSelf().addClass('ratings_over');  
						$(this).nextAll().removeClass('ratings_vote');   
					},
					function() {  
						$(this).prevAll().andSelf().removeClass('ratings_over');
					}  
			);
			$('.ratings_chick').click(
					function(){
						alert($(this).attr('class'));
					}
			);
